/* Add purple lines before and after the navigation bar */
.navbar::before,
.navbar::after {
    content: '';
    display: block;
    height: 5px;
    background-color: purple;
    margin: 20px 0; /* Adjust as needed */
}

/* Add purple line after the navigation bar */
.navbar::after {
    content: '';
    display: block;
    height: 5px;
    background-color: purple;
    margin: 20px 0; /* Adjust as needed */
}

/* Add purple line before the footer */
footer::before {
    content: '';
    display: block;
    height: 5px;
    background-color: purple;
    margin: 20px 0; /* Adjust as needed */
}

/* Add space above the navigation bar */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* This ensures the content takes at least the full height of the viewport */
}

/* Add space below the header */
header {
    margin-bottom: 3rem; /* Adjust as needed */
}

/* Align navigation items to the right */
.navbar-nav {
    margin-left: auto;
}

/* Add space above and below the navigation links */
.navbar-nav {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Align "HOME," "ABOUT," and "CONTACT" to the far top right */
.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

/* Ensure navigation links are on the same line */
.navbar-nav .nav-item {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Adjust as needed */
}

header p {
    text-align: center; /* Center the text */
    margin: 20px 0; /* Adjust margin as needed */
    order: 2; /* Change the order to 2, making it appear after the image */
}

.small-image {
    width: 500px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 100px ; /* Add margin as needed */
    align-self: flex-start; /* Move the image to the left within the flex container */
}

